supervisely[training]==6.73.567
supervisely[model-benchmark]==6.73.567

pycocotools==2.0.11
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128
scipy==1.17.1
imgaug==0.4.0
onnx==1.21.0
onnxruntime-gpu==1.26.0
PyYAML==6.0.3
